<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>案件裁定- 文书可视化工具集</title>
    <script>isPageNew = true;</script>

    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link rel="stylesheet" th:href="@{css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{css/index.css}"/>
    <link rel="stylesheet" th:href="@{css/common.css}"/>
    <link rel="stylesheet" th:href="@{css/custom.css}"/>

    <script th:src="@{js/ref/jquery-3.2.1.min.js}"></script>
    <script th:src="@{js/ref/jquery-ui.js}"></script>
    <script th:src="@{js/ref/bootstrap.js}"></script>
    <script th:src="@{js/ref/jtopo-0.4.8-min.js}"></script>
</head>

<body>
<!--<nav class="navbar navbar-default navbar-fixed-top no-print">
    <div class="container">
        <a class="navbar-brand" href="#">文书可视化工具集</a>
        <ul class="nav navbar-nav">
            <li><a href="./index.html" target="_blank">查看证据链关系图</a></li>
            <li><a href="./new.html" target="_blank">新建证据链关系图</a></li>
            <li><a href="./logic.html" target="_blank">查看文书说理逻辑图</a></li>
            <li class="active"><a href="./logic-new.html" target="_blank">新建文书说理逻辑图</a></li>
        </ul>
    </div>
</nav>-->
<section class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="manage.html">法官工作空间</a></div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-label"><a id="userLabel" title="查看或修改个人信息" data-toggle="modal"
                                                  data-target="#seeUserInfo">个人信息</a></li>
                        <li><a id='exist_click'>退出登录</a></li>
                    </ul>
                    <form action="" method="post" class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="键入关键字搜索"
                                   maxlength="15">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">搜索</button>
                            </span></div>
                    </form>
                </div>
            </div>
            <ol class="breadcrumb" style="font-size: 19px">
                <li>
                    <a href="/upload">质证与采证</a>
                </li>
                <li>
                    <a href="/model">证据链建模</a>
                </li>
                <li>
                    <a href="/logic-new">说理与法条推荐</a>
                </li>
                <li>
                    <strong><a class="active" href="#">案件裁定</a></strong>
                </li>
                <li>
                    <a href="/case-document">文书展示</a>
                </li>
            </ol>
        </nav>
    </div>

    <div class="page-content container10">
        <div class="row">
            <!--页面信息提示框-->
            <section class="file-wrapper col-md-12 no-print">
                <h3>文书说理逻辑图</h3>
            </section>

            <!--画布-->
            <!--<section class="graph-wrapper show-bar col-md-9 print">-->
            <!--<svg width="2000" height="2000"></svg>-->
            <!--</section>-->
            <div class="graph-wrapper col-md-8 show-bar" style="margin-top: 20px;">
                <canvas id="canvas" width="2000" height="1000"></canvas>
            </div>

            <!--相似案件信息-->
            <section class="node-info-wrapper col-md-4 no-print">
                <div class="node-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">查看相似案件</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <h4>推荐法条</h4>
                            <ul style="margin-top:10px;">
                                <li>《中华人民共和国婚姻法》第四十二条</li>
                                <li>《中华人民共和国民事诉讼法》第一百六十九条第一款</li>
                                <li>《中华人民共和国民事诉讼法》第一百七十条第一款第（一）项</li>
                                <li>《中华人民共和国民事诉讼法》第一百七十条第一款第（二）项</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <h4>相似案件</h4>
                            <ul style="margin-top:10px;">
                                <li><a href="#" onclick="getCaseID(this)" id="case-1" data-toggle="modal" data-target="#caseModal">江苏省徐州市中级人民法院 民事判决书 （2015）徐民终字第03720号</a></li>
                                <li><a href="#" onclick="getCaseID(this)" id="case-2" data-toggle="modal" data-target="#caseModal">河南省漯河市中级人民法院 民事判决书 （2015）漯民终字第1380号</a></li>
                                <li><a href="#" onclick="getCaseID(this)" id="case-3" data-toggle="modal" data-target="#caseModal">江苏省泰州市中级人民法院 民事裁定书 （2014）泰中民终字第01140号"</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!--案件裁定信息-->
            <section class="node-table-wrapper col-md-12 no-print">
                <div class="row">
                    <h3>案件裁定</h3>
                    <div style="margin-top: 20px;"></div>
                    <div clas="form-group col-md-10">
                        <h4>引用法条</h4>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">（推荐）法条 1</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">（推荐）法条 2</label>
                        </div>
                        <div id="articles-added">
                            <div class="checkbox">
                                <label><input type="checkbox" value="">（自添加）法条3</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">（自添加）法条4</label>
                            </div>
                        </div>
                        <div class="panel panel-default" style="width:80%">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne">添加引用法条</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-inline" role="form">
                                        《<input type="text" class="form-control" id="law-name" maxlength="15" placeholder="法律名" style="width:20%">》
                                        &nbsp;&nbsp;第<input type="text" class="form-control" id="chapter" value="" maxlength="5" style="width:6%">章
                                        &nbsp;&nbsp;第<input type="text" class="form-control" id="section" value="" maxlength="5" style="width:6%">节
                                        &nbsp;&nbsp;第<input type="text" class="form-control" id="article" value="" maxlength="5" style="width:6%">条
                                        &nbsp;&nbsp;第<input type="text" class="form-control" id="paragraph" value="" maxlength="5"style="width:6%">款
                                        <button type="button" class="btn btn-primary" id="add-article" style="margin-left:50px;">添加</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-10">
                        <h4>分析过程</h4>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group col-md-10">
                        <h4>判决结果</h4>
                        <!-- <textarea class="form-control" rows="5"></textarea> -->
                        <div class="text-center" style="margin-top:10px; margin-left: 0;">
                            <label style="width:42%; margin-left:0px;">原告诉求</label>
                            <label style="width:8%; margin-left:0;">诉求结果</label>
                            <label style="width:42%; margin-left:0;">判定原因</label>
                            <label style="width:6%; margin-left:0;"></label>
                        </div>
                        <div>
                            <form class="form-inline" role="form">
                                <div class="form-group" style="width:42%;" >
                                    <input type="text" class="form-control" placeholder="请输入原告诉求" style="width:100%">
                                </div>
                                <div class="form-group" style="width:8%;">
                                    <select class="form-control" style="width:100%">
                                        <option>支持</option>
                                        <option>驳回</option>
                                    </select>
                                </div>
                                <div class="form-group" style="width:42%;">
                                    <input type="text" class="form-control" placeholder="请输入判定原因" style="width:100%">
                                </div>
                            </form>
                            <form class="form-inline" role="form">
                                <div class="form-group" style="width:42%;" >
                                    <input type="text" class="form-control" placeholder="请输入原告诉求" style="width:100%">
                                </div>
                                <div class="form-group" style="width:8%;">
                                    <select class="form-control" style="width:100%">
                                        <option>支持</option>
                                        <option>驳回</option>
                                    </select>
                                </div>
                                <div class="form-group" style="width:42%;">
                                    <input type="text" class="form-control" placeholder="请输入判定原因" style="width:100%">
                                </div>
                            </form>
                            <form class="form-inline" role="form">
                                <div class="form-group" style="width:42%;" >
                                    <input type="text" class="form-control" placeholder="请输入原告诉求" style="width:100%">
                                </div>
                                <div class="form-group" style="width:8%;">
                                    <select class="form-control" style="width:100%">
                                        <option>支持</option>
                                        <option>驳回</option>
                                    </select>
                                </div>
                                <div class="form-group" style="width:42%;">
                                    <input type="text" class="form-control" placeholder="请输入判定原因" style="width:100%">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!--modals-->
<!--相似案例modal-->
<div class="modal fade" id="caseModal" tabindex="-1" role="dialog"
     aria-labelledby="node-edit-modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">案件判决文书</h4>
            </div>
            <div class="modal-body" style="max-height:500px; overflow: scroll;">
                <div class="form-group">
                    <div id="case-flftyy">
                        <ul>
                            <li class="text-success">《中华人民共和国婚姻法》第三十二条</li>
                            <li>《中华人民共和国婚姻法》第三十九条第一款</li>
                            <li class="text-success">《中华人民共和国婚姻法》第四十二条</li>
                        </ul>
                    </div>
                    <div id="case-info" style="margin-top:20px;">
                        <h4 id="case-ws">广东省新兴县人民法院 民事判决书 （2014）云新法集民初字第87号</h4>
                        <div id="case-dsr">原告梁某某，男，汉族，农民，住新兴县。 被告谭某某，女，汉族，农民，住新兴县。</div>
                        <div id="case-ssjl">原告梁某某诉被告谭某某离婚纠纷一案，本院于2014年7月21日立案受理。依法由代理审判员叶伟燕适用简易程序公开开庭进行了审理。原告梁某某、被告谭某某到庭参加诉讼。本案现已审理终结。</div>
                        <div id="case-ajjbqk">原告梁某某诉称：原告与被告于2010年下半年在新兴县经人介绍相识，经短暂交往后于2010年12月28日到新兴县民政局登记结婚。双方至今无生育子女。婚后，双方才发现各自的性格、志趣、生活方式等相差悬殊，根本没有共同语言。由于婚前了解不够，草率结婚，婚后未建立起夫妻感情，加上被告对原告异常冷淡，从不允许原告与其同房居住。原告多次要求与被告一起去办理离婚手续，因被告家人反对才没有办成离婚，但被告已明确表示不愿意继续与原告一起生活。2013年春节过后，被告在没有告知原告的情况下离家出走。此后，原告一直无法与被告取得联系，也不知其去向行踪。由于原告对被告没有充分的了解，草率结婚，双方始终没有建立起夫妻感情。被告长期离家不归，致使原告长期一人独自生活，夫妻关系名存实亡。被告长期不归家的行为亦已给双方的婚姻判了死刑。为此，原告向法院提起离婚诉讼，请求判令：解除原、被告之间的婚姻关系。
                            被告谭某某答辩称：一、不认可原告的诉讼请求，不同意离婚，原告所称的离婚理由不成立。二、被告在婚前身体已经较为虚弱，双腿行动不便，婚后因身体不适，在家休养三个多月，后来身体好转，为生计就出外打工挣钱。三、被告因身体时好时坏，与原告的夫妻生活也有出现不协调的情况，原告因此嫌弃被告，虐待被告。原告把家中的柴米油盐锁住，致使被告晚上下班回到家中吃不上晚饭。原告明知被告双腿行动不便，还关电闸，把自行车放进房间中间，致使被告撞到自行车而跌倒在地。四、被告的工作地点在被告的娘家，白天工作晚上回家，这种工作情况一直持续到2013年1月。在这段时间，原告悄悄把家中大门的锁换上新锁，致使被告不能归家，被告在无奈之下只能回娘家居住，并非是原告所讲的离家出走。五、被告因原告的精神虐待，再加上身体虚弱，致使2014年8月21日生病住进医院。在住院期间，因住院费用可以报销，而医保证件在原告手上，故此被告多次发信息，打电话给原告，但原告一直没有回应，也没有探望问候过被告。六、被告与原告共同生活三年，虽然有很多不愉快的经历，但对原告还是有些留恋的，如果原告坚决要求离婚，被告要求原告赔偿150000元，让被告治好自身的疾病并独立生活。
                            经审理查明，原告与被告于2010年下半年在新兴县六祖镇经朋友介绍相识恋爱，2010年12月28日自愿到新兴县民政局登记结婚。婚后无生育子女。夫妻的共同财产有：电视机一台、洗衣机一台、冰箱一台、沙发一套、梳妆台一张、玻璃台一张及配套的凳六张、大柜一个、电饭煲一个、饮水机一台、红色胶凳六张、藤椅2张、棉被2张。2014年7月21日，原告以被告长期离家不归令夫妻感情破裂为由，向本院起诉，提出前述诉讼请求。庭审中，被告认为夫妻感情确已破裂，同意离婚，但要求原告补偿10000元。另查明，2014年8月21日，被告因双下肢乏力查因到新兴县人民医院住院治疗，诊断为：1、遗传性痉挛性截瘫？2、高胆固醇血症；3、腰椎退行性病变。
                            以上事实，有原告提供的身份证、户口本、结婚证，被告提供的新兴县人民医院医疗记录及本院的庭审笔录予以证实。</div>
                        <div id="case-cpfxgc">本院认为，原告梁某某与被告谭某某虽然是自主婚姻，但双方在共同生活中缺乏沟通和理解，夫妻感情出现裂痕时不能互相谅解及修复。原告认为夫妻感情已经破裂，向本院提起离婚诉讼，被告在庭审中亦表示夫妻感情确已破裂，同意离婚。因此，可以认定原、被告的夫妻感情确已破裂，本院准予原告与被告解除婚姻关系。
                            关于夫妻的共同财产（电视机一台、洗衣机一台、冰箱一台、沙发一套、梳妆台一张、玻璃台一张及配套的凳六张、大柜一个、电饭煲一个、饮水机一台、红色胶凳六张、藤椅2张、棉被2张），原告在庭审中同意全部归被告所有，本院予以支持。被告身体虚弱，患有多种疾病，离婚时亦需要解决居住问题，存在经济困难，原告应给予适当帮助。结合本案的实际情况，本院酌定由原告一次性支付生活困难帮助款5000元给被告。原告不同意支付生活困难帮助款给被告的意见，本院不予采纳。
                            鉴此，依照《中华人民共和国婚姻法》第三十二条、第三十九条第一款、第四十二条，《最高人民法院关于适用〈中华人民共和国婚姻法〉若干问题的解释（一）》第二十七条的规定，判决如下：" </div>

                        <div id="case-pjjg">准予原告梁某某与被告谭某某解除婚姻关系。 二、夫妻共同财产：电视机一台、洗衣机一台、冰箱一台、沙发一套、梳妆台一张、玻璃台一张及配套的凳六张、大柜一个、电饭煲一个、饮水机一台、红色胶凳六张、藤椅2张、棉被2张归被告谭某某所有。 三、原告梁某某应于本判决发生法律效力之日起十日内一次性支付生活困难帮助款人民币5000元给被告谭某某。 如果未按本判决指定的期间履行给付金钱义务，应当依照《中华人民共和国民事诉讼法》第二百五十三条的规定，加倍支付迟延履行期间的债务利息。 本案受理费减半收取150元，由原告梁某某负担。 如不服本判决，可在判决书送达之日起十五日内，向本院递交上诉状，并按对方当事人的人数提出副本，上诉于广东省云浮市中级人民法院。</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
var caseID = 0;

function  getCaseID(obj) {
    caseID = obj.getAttribute("id");
    //alert(caseID);
}

$(document).ready(function () {
    $('#add-article').click(function() {
        var insertText = "《"+$('#law-name').val()+"》";
        if($('#chapter').val() != undefined && $('#chapter').val() != "") {
            insertText += "第"+$('#chapter').val()+"章";
        }
        if($('#section').val() != undefined && $('#section').val() != "") {
            insertText += "第"+$('#section').val()+"节";
        }
        if($('#article').val() != undefined && $('#article').val() != "") {
            insertText += "第"+$('#article').val()+"条";
        }
        if($('#paragraph').val() != undefined && $('#paragraph').val() != "") {
            insertText += "第"+$('#paragraph').val()+"款";
        }
        document.getElementById('articles-added').innerHTML += "<div class='checkbox'><label><input type='checkbox'value=''>（自添加）"+insertText+"</label></div>";
    });
});

</script>
</html>