<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上传证据 | 法官工作空间</title>


    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link rel="stylesheet" th:href="@{css/custom.css}"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{img/icon.png}">
    <link rel="shortcut icon" th:href="@{img/favicon.ico}">
    <script th:src="@{js/ref/jquery-2.1.4.min.js}"></script>
    <script th:src="@{js/ref/jquerysession.js}"></script>
    <script th:src="@{js/ref/bootstrap.js}"></script>
    <script th:src="@{js/text.js}"></script>

    <![endif]-->
    <!--[if lt IE 9]>
    <script>window.location.href='upgrade-browser.html';</script>
    <![endif]-->

    <script th:inline="javascript">
        /*<![CDATA[*/
        if($.session.get('username')==null){
            window.location.href="/login";
        }else if($.session.get('cid')==null){
            window.location.href="/manage";
        }
        /*]]>*/
    </script>

    <style>
        body{ background:#ffffff}
    </style>
</head>

<body class="user-select">
<section class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="/">法官工作空间</a> </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">林世开<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a title="查看或修改个人信息" data-toggle="modal" data-target="#seeUserInfo">个人信息</a></li>
                            </ul>
                        </li>
                        <li><a id='exist_click'>退出登录</a></li>
                    </ul>
                    <form action="" method="post" class="navbar-form navbar-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="键入关键字搜索" maxlength="15">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">搜索</button>
                            </span> </div>
                    </form>
                </div>
            </div>
            <ol class="breadcrumb" style="font-size: 19px">
                <li>
                    <a href="/upload">质证与采信</a>
                </li>
                <li>
                    <a href="/model">证据链建模</a>
                </li>
                <li>
                <a class="active" href="#">说理逻辑</a>
                </li>
                <li>    <strong>
                    <a href="/text">说理语段</a></strong>
                </li>

            </ol>
        </nav>
    </div>


    <div class="row" style="padding-top: 7% ;padding-left: 2%;padding-right: 3%">




    </div>

<br>

    <div class="row" style="padding-left:2% ">
        <div class="col-md-11">
            <h2 class="text-center" style="color:black">事实段</h2>
            <br>
            <div class="text-center m-t-md">

                <!--<textarea id="mystr" class="form-control" rows="5"></textarea>-->
                <p style="color: black" class="pull-left">
                    湖南省怀化市鹤城区人民检察院指控：2015年3月10日19时58分许，被告人罗某甲驾驶湘N×××××小型面包车在怀化市鹤城区迎丰路由东往西行驶，当该车行驶至迎丰东路市四中门口路段时因未注意避让行人，将横穿马路的被害人彭某乙撞倒后驾车逃逸。当日20时01分许，被告人胡某甲驾驶湘N×××××小型出租车从鹤城区迎丰路由东往西行驶路过该路段时，因超速行驶将上述交通事故受伤倒地的被害人彭某乙再次碾压，造成被害人彭某乙当场死亡的重大交通事故。经公安交警部门认定，被告人罗某甲、胡某甲负此次事故的主要责任，被害人彭某乙负此次事故的次要责任。
                    案发后，被告人胡某甲在事故现场等待交警部门处理。后二被告人共同赔偿了被害人近亲属各项损失费63.5万元，取得被害人近亲属的谅解。
                    该院以被告人罗某甲、胡某甲的行为构成交通肇事罪，负事故主要责任，且被告人罗某甲在肇事后逃逸，请求本院依照《中华人民共和国刑法》第一百三十三条之规定判处。并向本院提供了相关的证据。
                    被告人罗某甲、胡某甲对公诉机关指控其交通肇事的事实供认属实。
                    经审理查明：2015年3月10日19时58分许，被告人罗某甲驾驶湘N×××××小型面包车在怀化市鹤城区迎丰路由东往西行驶，当该车行驶至迎丰东路市四中门口路段时因未注意避让行人，将横穿马路的被害人彭某乙撞倒后驾车逃逸。当日20时01分许，被告人胡某甲驾驶湘N×××××小型出租车从鹤城区迎丰路由东往西行驶路过该路段时，因超速行驶将上述交通事故受伤倒地的被害人彭某乙再次碾压，造成被害人彭某乙当场死亡的重大交通事故。经公安交警部门认定，被告人罗某甲、胡某甲负此次事故的主要责任，被害人彭某乙负此次事故的次要责任。
                    案发后，被告人胡某甲在事故现场等待交警部门处理。后二被告人及湘N×××××小型面包车车主、湘N×××××小型出租车车主共同赔偿了被害人近亲属各项损失费63.5万元，取得被害人近亲属的谅解。
                </p>
                <br>
                <!--<button  class="col-md-2 btn-success btn-sm btn pull-right" onclick="myHead()">提取链头</button>-->

                <!--<button  class="col-md-2 btn-success btn-sm btn pull-right" onclick="mySplit()" >分解证据</button> <span></span>-->

                <div class="btn-toolbar operation pull-right" role="toolbar">
                    <!--<div class="btn-group" role="group">-->
                    <!--<a class="btn btn-default" onClick="mySplit()">分解证据</a>-->
                    <!--<a class="btn btn-default" onClick="myHead()">提取链头</a>-->
                    <!--</div>-->
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" name="checkbox_delete" onclick="myDelete()">编辑</button>
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" name="checkbox_delete" onclick="myDelete()">导出</button>

                    </div>
                </div>

                <div id="after">


                    <br>


                </div>
            </div>

        </div>

    </div>
    <hr>

    <div class="row" style="padding-left:2% ">
        <div class="col-md-11">
            <h2 class="text-center" style="color:black">证据段</h2>
            <br>
            <div class="text-center m-t-md">

                <!--<textarea id="mystr" class="form-control" rows="5"></textarea>-->
                <p style="color: black" class="pull-left" id="evidencePara">
                    上述事实，有公诉机关及被告人提供，并经法庭质证、认证的下列证据予以证明：
                    人罗某甲、胡某甲辨认属实。
                </p>
                <br>
                <!--<button  class="col-md-2 btn-success btn-sm btn pull-right" onclick="myHead()">提取链头</button>-->

                <!--<button  class="col-md-2 btn-success btn-sm btn pull-right" onclick="mySplit()" >分解证据</button> <span></span>-->

                <div class="btn-toolbar operation pull-right" role="toolbar">
                    <!--<div class="btn-group" role="group">-->
                    <!--<a class="btn btn-default" onClick="mySplit()">分解证据</a>-->
                    <!--<a class="btn btn-default" onClick="myHead()">提取链头</a>-->
                    <!--</div>-->
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" name="checkbox_delete" onclick="myDelete()">编辑</button>
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" name="checkbox_delete" onclick="myDelete()">导出</button>

                    </div>
                </div>


            </div>

        </div>

    </div>
    <hr>

    <div class="row" style="padding-left:2% ">
        <div class="col-md-11">
            <h2 class="text-center" style="color:black">裁判文书</h2>
            <br>
            <div class="text-center m-t-md">

                <!--<textarea id="mystr" class="form-control" rows="5"></textarea>-->
                <p style="color: black" class="pull-left">
                    本院认为：被告人罗某甲、胡某甲违反道路交通安全法规，以致发生致一人死亡的重大交通事故，且负事故主要责任；被告人罗某甲在肇事后逃逸，二被告人的行为均已构成交通肇事罪。公诉机关指控被告人罗某甲、胡某甲交通肇事罪罪名成立。案发后，被告人胡某甲留在现场等候交警部门处理，并如实供述其犯罪事实，具有自首情节，可以从轻处罚。被告人罗某甲、胡某甲积极赔偿了被害人近亲属的经济损失，取得了被害人近亲属的谅解，且案发后认罪态度较好，确有悔罪表现。结合社区矫正机构所作建议对被告人罗某甲、胡某甲实行社区矫正意见，对被告人罗某甲、胡某甲可以适用缓刑。
                    综上所述，本案事实清楚，证据确实充分。本院依照《中华人民共和国刑法》第一百三十三条、第六十七条第一、三款、第七十二条、第七十三条第二、三款、第七十六条之规定，判决如下：
                    判决结果
                    一、被告人罗某甲犯交通肇事罪，判处有期徒刑三年，缓刑三年；
                    （缓刑考验期限从判决确定之日起计算。自裁判文书生效之日起十日内，被告人罗某甲持刑事判决书到居住地司法所报到，接受社区矫正。）
                    二、被告人胡某甲犯交通肇事罪，判处有期徒刑一年，缓刑一年。
                    （缓刑考验期限从判决确定之日起计算。自裁判文书生效之日起十日内，被告人胡某甲持刑事判决书到居住地司法所报到，接受社区矫正。）
                    如不服本判决，可在接到判决书的第二日起十日内，通过本院或者直接向湖南省怀化市中级人民法院提出上诉。书面上诉的，应当提交上诉状正本一份，副本六份。


                </p>
                <br>
                <!--<button  class="col-md-2 btn-success btn-sm btn pull-right" onclick="myHead()">提取链头</button>-->

                <!--<button  class="col-md-2 btn-success btn-sm btn pull-right" onclick="mySplit()" >分解证据</button> <span></span>-->

                <div class="btn-toolbar operation pull-right" role="toolbar">
                    <!--<div class="btn-group" role="group">-->
                    <!--<a class="btn btn-default" onClick="mySplit()">分解证据</a>-->
                    <!--<a class="btn btn-default" onClick="myHead()">提取链头</a>-->
                    <!--</div>-->
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" name="checkbox_delete" onclick="myDelete()">编辑</button>
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" name="checkbox_delete" onclick="myDelete()">导出</button>

                    </div>
                </div>


            </div>

        </div>

    </div>

</section>
<!--个人信息模态框-->
<div class="modal fade" id="seeUserInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form action="" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >个人信息</h4>
                </div>
                <div class="modal-body">
                    <table class="table" style="margin-bottom:0px;">
                        <thead>
                        <tr> </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td wdith="20%">姓名:</td>
                            <td width="80%"><input type="text" value="王雨" class="form-control" name="truename" maxlength="10" autocomplete="off" /></td>
                        </tr>
                        <tr>
                            <td wdith="20%">用户名:</td>
                            <td width="80%"><input type="text" value="admin" class="form-control" name="username" maxlength="10" autocomplete="off" /></td>
                        </tr>
                        <tr>
                            <td wdith="20%">电话:</td>
                            <td width="80%"><input type="text" value="18538078281" class="form-control" name="usertel" maxlength="13" autocomplete="off" /></td>
                        </tr>
                        <tr>
                            <td wdith="20%">旧密码:</td>
                            <td width="80%"><input type="password" class="form-control" name="old_password" maxlength="18" autocomplete="off" /></td>
                        </tr>
                        <tr>
                            <td wdith="20%">新密码:</td>
                            <td width="80%"><input type="password" class="form-control" name="password" maxlength="18" autocomplete="off" /></td>
                        </tr>
                        <tr>
                            <td wdith="20%">确认密码:</td>
                            <td width="80%"><input type="password" class="form-control" name="new_password" maxlength="18" autocomplete="off" /></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--提示模态框-->
<div class="modal fade user-select" id="areDeveloping" tabindex="-1" role="dialog" aria-labelledby="areDevelopingModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="areDevelopingModalLabel" style="cursor:default;">该功能正在日以继夜的开发中…</h4>
            </div>
            <div class="modal-body"> <img src="public/img/baoman/baoman_01.gif" alt="深思熟虑" />
                <p style="padding:15px 15px 15px 100px; position:absolute; top:15px; cursor:default;">很抱歉，程序猿正在日以继夜的开发此功能，本程序将会在以后的版本中持续完善！</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">朕已阅</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>
